[submodule "lib/morph"]
	path = lib/morph
	url = https://github.com/PorkShoulderHolder/morph
[submodule "lib/ocean"]
	path = lib/ocean
	url = https://github.com/jbouny/ocean.git
[submodule "lib/ConnectedComponentLabelling"]
	path = lib/ConnectedComponentLabelling
	url = https://github.com/bramp/Connected-component-labelling.git
